<%- include("templates/header")%>
<h1>Hello <%=name%></h1>
<h2>Dog <%=randomNumber%>:</h2> <img src='/dog<%=randomNumber%>.png' style='width:450px;'> <br />
<a href="/logout"><button>Logout</button></a><br />
<%- include("templates/footer")%>